{% extends 'school/base.html' %}
{% load static %}
{% block title %}SchoolFun Login{% endblock %}

{% block content %}
    <div class="login-container">
        <div class="login-form">
            <h1 class="login-logo"> School Fun <h1>
            <h2> Sign In </h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="btn">
                    <button class="submit-btn" type="submit">SignIn</button>
                    </div>
                </form>
                <hr/>
            <div class="signup-container">
                <p>Create an account!</p>
            <a class="signup" href = "{% url 'signup' %}"><h5>SignUp</h5></a>
            </div>
        </div>
    </div>
{% endblock %}