{% extends 'school/base.html' %}
{% load static %}
{% block content %}
    <div class="starter-page" style="background-image: url('{% static 'school/assets/welcomepage.jpeg' %}');">
        <div class="welcome">
            <h1>Your Work</h1>
        </div>
    </div>
    <div class="list-page">
        <a href="{% url 'add_work' %} "><h2 class="title-page">Create Work</h2></a>
        <div class="page">
        <table class="work-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Subject</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
            {% for work in works %}
                <tr class="lists">
                    <td><a href="{% url 'delete_work' work.id %}">{{ work.name }}</a></td>
                    <td>{{ work.subject }}</td>
                    <td>{{ work.due_date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}